@import "@styles/scss/variables/global.variables.scss";

.backToTop {
    position: fixed;
    width: 40px;
    aspect-ratio: 1;
    background-color: $blue;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    user-select: none;
    transition: all 0.3s ease-in-out;


    bottom: calc($footer_height + 4px);
    right: 10px;

    &:hover {
        background-color: #fff;
        color: $blue;
    }
}

.invisible {
    right: -100% !important;
}