@import "@styles/scss/variables/global.variables.scss";

.wraper {
    #process-tab {
        display: flex;
        // align-items: center;
        // justify-content: center;
        border: none;

        .group-tab {
            background-color: $light_blue;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            overflow: hidden;

            .active {
                background-color: $dark_blue !important;
                color: #fff !important;
            }

            .nav-link {
                font-size: 16px;
                transition: 0.3s all ease;
                padding: 10px 12px;
                background-color: transparent;
                color: $dark_grey;
            }
        }
    }

    .wrap-process-tab {
        border-radius: 4px;
        border-top-left-radius: 0px;
        background-color: #eeeeee95;

        #process-tab-content {
            // background-color: #fff;
    
            .show {
                animation: show-tab 0.5s ease-in;
            }
    
            @keyframes show-tab {
                from {
                    opacity: 0;
                }
    
                to {
                    opacity: 1;
                }
            }
        }
    }
}