@import "@styles/scss/variables/global.variables.scss";

.wraper {
    width: 100%;
    position: relative;
    // overflow-x: hidden;
    height: max-content;

    .content {
        transition: 0.5s all ease;
        min-height: calc(100dvh - $nav_height);
    }

    @media (min-width: $screen_break_point) {
        .content {
            margin-left: $sb_width;
        }
    }
}