@import "@styles/scss/variables/global.variables.scss";

#navbar {
    height: $nav_height;
    display: flex;
    justify-content: space-between;
    background-color: $nav_bg_color;
    box-shadow: $nav_box_shadow;
    color: $nav_text_color;

    .nav-title {
        text-align: start;
        width: max-content;
        -webkit-line-clamp: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $nav_text_color;
    }

    .nav-brand {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 45px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }

    .dD_account {
        display: flex;
        align-items: center;
        justify-content: center;

        .dD_button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            background-color: transparent;
            border: none;
            color: $nav_text_color;
            gap: 6px;

            @media (min-width: $screen_break_point) {}

            .p_name {
                font-size: 14px;
                text-align: start;
                width: max-content;
                // max-width: 120px;
                -webkit-line-clamp: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .dD_menu {
            min-width: 300px;
            max-width: 380px;
            width: max-content;
            top: 16px !important;
            z-index: 99999 !important;

            .dD_profile {
                display: flex;
                align-items: center;
                padding: 0 10px;
                // justify-content: center;

                .box-avt {
                    width: 50px !important;
                    aspect-ratio: 1;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .box-info {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 14px;
                    padding-left: 8px;

                    table {
                        color: $grey;

                        td {
                            padding: 0 10px;

                            span {
                                display: block;
                                width: max-content;
                                max-width: 235px;
                                -webkit-line-clamp: 1;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }

            .dD_item {
                padding: 8px 18px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                color: $grey;
            }
        }
    }
}
@media (max-width: 768px) {
    .p_name {
        max-width: 80px;
    }
}

@media (min-width: 768px) {
    .p_name {
        max-width: 140px;
    }
}