@import "@styles/scss/variables/global.variables.scss";

.wraper {

    .seri-number-input {
        .form-label {
            width: 70px !important;
        }

        input {
            width: calc(100% - 90px);
        }
    }

    select,
    input:not([type="checkbox"], [type="radio"]) {
        height: 42px;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: none !important;
        border: 1px solid #dee2e6;
        border-radius: 4PX !important;
        z-index: 1;
    }

    .search-process {
        // overflow: hidden;

        .form-label {
            // font-size: 16px;
            // font-weight: 600;
            color: $dark_grey;
            width: 100%;

            select,
            input {
                margin-top: .5rem;
            }
        }
    }

    .btn-collapse-info {
        transition: .3s all ease;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: 36px;
        position: relative;
        box-shadow: none !important;
        outline: none !important;
        border: none !important;

        svg {
            transition: .3s all ease;
        }

        &:hover {
            svg {
                color: #000 !important;
            }

            &::after,
            &::before {
                display: flex;
            }
        }
    }

    .end-line {
        width: 60px;
        height: calc(1px / 2);
        background-color: #000;
    }

    .date-picker {
        height: 42px !important;
        border: 1px solid #dee2e6;
        border-radius: 4px;

        div:first-child {
            height: 42px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            font: unset !important;
            letter-spacing: normal !important;


            input {
                padding: 6px 12px;
                border: none !important;
                // padding-left: 48px !important;
            }

            fieldset {
                display: none;
            }
        }
    }

    .info-multiple-dh {
        overflow-x: auto;
        min-width: 800px;
    }

    .btn-check {
        position: relative;
        z-index: 1 !important;
    }

    .wrap-process-table {
        max-height: 417px !important;
        overflow-y: auto;

        .process-table {
            thead {
                position: sticky;
                top: 0;
                z-index: 9;
            }

            .table-header {

                th {
                    background-color: $blue !important;
                    color: #fff !important;
                    vertical-align: middle;

                    .table-label {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        span {
                            width: max-content !important;
                        }

                        svg {
                            position: absolute;
                            top: 50%;
                            right: 0px;
                            transform: translateY(-50%);
                        }
                    }
                }


                th:not(:last-child) {
                    cursor: pointer;
                    transition: 0.3s all ease;

                    &:hover {
                        background-color: $dark_blue !important;
                    }
                }
            }

            th {
                padding: 18px 12px;
            }

            td {
                padding: 14px 10px;
                vertical-align: middle;
                text-align: center;
                position: relative;

                input {
                    padding: 0 6px;
                    width: 110px;
                }
            }

            .process-name {
                width: 280px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }

            .action {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 0;

                .action-button {
                    color: $blue;
                    background-color: transparent;
                    padding: 0 10px;

                    svg {
                        font-size: 20px;
                    }
                }

                li {

                    a,
                    button {
                        display: flex;
                        justify-content: flex-start;
                        border-radius: 0px;

                        &:hover {
                            background-color: $blue;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}