// Color
$dark_grey: #57595b;
$grey: #bbbbbb;
$grey: #e7e7e7;
$light_grey: #e4e4e4;
$dark_blue: #2160a8;
$blue: #459cdb;
$light_blue: #e8f5fe;
$box_shadow: 0 0 10px 0 rgba(194, 194, 194, 0.5);
$bg_cover: rgba(221, 221, 221, 0.65);
$border_grey: #dee2e6;
$green: #4ea449;

/* Layout variables */
// Navbar
$nav_height: 60px;
// $nav_bg_color: #f5f5f5;
// $nav_bg_color: $blue;
// $nav_text_color: #fff !important;
$nav_bg_color: #fff;
$nav_text_color: $dark_blue !important;
$nav_box_shadow: $box_shadow;

// Body
$body_bg_color: #f0f2f5;

// Footer
$footer_height: 36px;
// $footer_bg_color: #f5f5f5;
$footer_bg_color: $dark_blue;

$screen_break_point: 1200px;
/* End layout */


/* Sidebar variables */ 
$sb_width: 300px;
$sb_height: calc(100vh - #{$nav_height} - #{$footer_height});

//Sidebar child height
$sb_header_height: 80px;
$sb_footer_height: 0px;
$sb_body_height: calc(100% - $sb_header_height - $sb_footer_height);

//Sidebar color
$sb_bg_color: #fff;
$sb_bg_active: $light_blue;
$sb_footer_color: $light_blue;
$sb_cover_color: #fbfbfb;
$sb_text_active: $blue;
$sb_text_color: $dark_grey;
/* End sidebar */